[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-configurations = "*"
pytest = "*"
pytest-django = "*"
django-model-utils = "*"
gunicorn = "*"
django-extensions = "*"
django-filter = "*"
djangorestframework = "*"
dj-database-url = "*"
drf-yasg = "*"
django-cors-headers = "*"
"psycopg2" = "*"

[dev-packages]
"autopep8" = "*"
"flake8" = "*"

[requires]
python_version = "3.7"
